<html>
  <head>
    <title><%= title %></title>
    <!-- Noty scripts -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css"
      integrity="sha512-NXUhxhkDgZYOMjaIgd89zF2w51Mub53Ru3zCNp5LTlEzMbNNAjTjDbpURYGS5Mop2cU4b7re1nOIucsVlrx9fA=="
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"
      integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q=="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <%- style %>
  </head>

  <body>
    <%- include('_header'); %>

    <main id="layout-main"><%- body %></main>
    <%- include('_footer'); %> <%- script %>
  </body>

  <script>
    // Showing flash messages
    <%if (flash.success && flash.success.length > 0) {%>
      new Noty({
        theme: "relax",
        text: "<%=flash.success%>",
        type: "Success",
        layout: "topRight",
        timeout: 1500,
      }).show();
    <%}%>

    <%if (flash.error && flash.error.length > 0) {%>
      new Noty({
        theme: "relax",
        text: "<%=flash.error%>",
        type: "error",
        layout: "topRight",
        timeout: 1500,
      }).show();
    <%}%>
  </script>
</html>
