<link rel="stylesheet" href="/css/user_profile.css" />

<img
  src="<%= profile_user.avatar %>"
  alt="<%= profile_user.name%>"
  width="100"
/>
<p><%= profile_user.name %></p>
<p><%= profile_user.email %></p>

<!-- locals.user contains current logged in user  -->
<!-- If user matches with current user show the update form  -->
<%if(profile_user.id == user.id){%>
<div>
  <h4>Update Information</h4>
  <form
    action="/users/profile/update/<%=profile_user.id%>"
    method="post"
    enctype="multipart/form-data"
  >
    <input
      type="text"
      name="name"
      placeholder="Your Name"
      value="<%= profile_user.name %>"
      required
    />
    <input
      type="text"
      name="email"
      placeholder="Your Email"
      value="<%= profile_user.email %>"
      required
    />
    <input type="file" name="avatar" placeholder="Profile Picture" />
    <input type="submit" />
  </form>
</div>
<%}%>
